.contact-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
  
    /* background-color: var(--black); */
    width: 320px;
    padding: 30px;
    color: whitesmoke;
    margin-bottom: 10px;
}
h4 {
    line-height: 32px;
    margin-bottom: 20px;
}
.contact {
    margin-top: 15px;
    padding: 0px 0 10px;
}
.contact-option {
    display: flex;
    align-items: center;
}
.contact-option svg {
    color: var(--dark-orange);
    font-size: 17px;
}
.contact-option .text {
    margin-left: 15px;
}
